{% extends "cfis_footer.html" %}
{% block content %}
<div class="row">
    <div id="main-div" class="col-md-8">
        <h1>News</h1>
        <a href="{% url 'cfis:news_create' %}" class="float-right"><button type="button" class="btn btn-outline-primary">Add News</button></a>
        <br /><br />
        {% if news_list %}
        {% for p in news_list %}
            <div id="post-card-{{ p.id }}" class="card mb-4">
                {% if p.picture %}
                <img class="card-img-top" src="{% url 'cfis:news_picture' p.id %}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title" onclick="javascript: window.location='{% url 'cfis:news_detail'  p.id %}'" style="cursor: pointer">{{ p.title }}</h2>
                    <p class="card-text">{{ p.text | truncatewords:50 }}</p>
                    <a href="{% url 'cfis:news_detail'  p.id %}" id="read-more-post-{{ p.id }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{ p.created_at }} by
                    <a href="#">{{ p.owner }} </a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h3>No post</h3>
        {% endif %}
    </div>
    <div id="side-div" class="col-md-4" onclick="javascript: location.href='http://zacklim.pythonanywhere.com/cfis/news/6'" style="cursor: pointer">
        <div class="card">
            <h3 class="card-header">Hot News</h3>
            <div class="card-body">
                <h5 class="card-title">Coronavirus Diaries: My Green Card Interview Was Canceled...</h5>
                <h6 class="card-subtitle text-muted">Posted by zacklim</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="/cfis/news_picture/6" alt="Card image">
            <div class="card-body">
                <p class="card-text">Coronavirus Diaries is a series of dispatches exploring how the coronavirus is affecting people’s lives. For the latest public health information, please refer to the Centers for...</p>
            </div>
            <div class="card-footer text-muted">
                April 16, 2020, 12:57 p.m.
            </div>
        </div>
    </div>
</div>
{% endblock %}
