{% extends "cfis_footer.html" %}
{% block content %}
<div class="row">
    <div id="main-div" class="col-md-8">
        <h1>Free Board</h1>
        <a href="{% url 'cfis:post_create' %}" class="float-right"><button type="button" class="btn btn-outline-primary">Add Post</button></a>
        <br /><br />
        {% if post_list %}
        {% for p in post_list %}
            <div id="post-card-{{ p.id }}" class="card mb-4">
                <div class="card-body">
                <!-- <div class="card-body" onclick="javascript: window.location='{% url 'cfis:post_detail'  p.id %}'" style="cursor: pointer"> -->
                    {% if p.category %}
                    <span class="badge badge-primary float-right mt-1">{{ p.category }}</span>
                    {% else %}
                    <span class="badge badge-primary float-right mt-1">Others</span>
                    {% endif %}
                    <h4 class="card-title text-dark" onclick="javascript: window.location='{% url 'cfis:post_detail'  p.id %}'" style="cursor: pointer">{{ p.title }}</h4>
                    <h6 class="font-weight-light">{{ p.created_at }} by {{ p.owner }}</h6>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h3>No post</h3>
        {% endif %}
    </div>
    <div id="side-div" class="col-md-4" onclick="javascript: location.href='http://zacklim.pythonanywhere.com/cfis/post/5'" style="cursor: pointer">
        <div class="card">
            <h3 class="card-header">Hot News</h3>
            <div class="card-body">
                <h5 class="card-title">Question about OPT</h5>
                <h6 class="card-subtitle text-muted">Posted by samkim</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Hello I am applying for OPT in a couple of days. Is USCIS still working on this? Please let me know if anyone....</p>
            </div>
            <div class="card-footer text-muted">
                April 20, 2020, 1:25 p.m.
            </div>
        </div>
    </div>
</div>
<script>
function favPost(url, thing_id) {
    console.log('Requesting JSON');
    $.post(url, {},  function(rowz){
        console.log(url, 'finished');
        $("#unfavorite_star_"+thing_id).toggle();
        $("#favorite_star_"+thing_id).toggle();
    }).fail(function(xhr) {
        alert('Url failed with '+xhr.status+' '+url);
    });
}
</script>
{% endblock %}
